@model List<PacchettoViaggio>
@{
    ViewData["Title"] = "Pacchetti Viaggio";
    
}
<div class="container">

    <div class="text-center">
        <h1 class="display-4">Gestione Pacchetti</h1>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Durata</th>
                        <th>Destinazioni</th>
                        <th>Prezzo</th>
                        <th>Azione</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {

                        @foreach (PacchettoViaggio viaggio in Model)
                        {
                            <tr>
                                <td>@viaggio.Id</td>
                                <td>@viaggio.Name</td>
                                <td>@viaggio.StartDate</td>
                                <td>@viaggio.Duration giorni</td>
                                <td>
                                    @foreach (Destination destination in viaggio.Destinations)
                                    {
                                        <span>@destination.Name </span>
                                    }
                                </td>
                                
                                <td>@viaggio.Price €</td>
                                <td>
                                    <a class="btn btn-warning" href="@Url.Action("Show", "Voyage",new { Id = viaggio.Id } )">Vedi</a>
                                    <a class="btn btn-warning" href="@Url.Action("Edit", "Voyage", new { Id = viaggio.Id } )">Modifica</a>
                                    <form asp-action="Delete" asp-controller="Voyage" asp-route-id="@viaggio.Id" method="post" class="d-inline">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class=" btn btn-danger">
                                            Elimina
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }


                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td>
                                <h2>Nessun pacchetto presente</h2>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>


</div>
